* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #122121;
	font-size: 120%;
}

input {
	height: 30px;
	outline: none;
}

.ul-topbar {
	font-family: Helvetica, Arial, sans-serif;
	color: #DDD;
	list-style: none;
    overflow: hidden;
    display: inline-block;
}

.ul-topbar li {
	float: left;
	border-right: 1px solid #64DD17;
    border-bottom: 1px solid #64DD17;
}

.ul-topbar li:last-child {
    border-right: 0;
}

.ul-topbar li span {
	display: block;
	color: #FFF;
    padding: 10px 30px;
}

.ul-sidebar {
	list-style: none;
	float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.a-sidebar {
    color: #FFF;
    text-decoration: none;
    text-indent: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    transition-duration: 0.4s;
}

.a-sidebar:hover {
    background-color:#1976D2;
}

.logout {
	margin-top: 30px;
	color: red;
	border: 2px solid transparent;
}

.logout:hover {
	border: 2px solid red;
	border-radius: 2px;
	background-color: transparent;
}


.current-sidebar {
    background-color:#1976D2;
}

#content {
	width: calc(100% - 250px);
	margin-left: 230px;
}

#terminal {
	font-size: 15px;
	color: #DDD;
	font-family: Consolas, monospace;
	border-radius: 5px;
	width: 100%;
}

#terminal span:not(.terminal-command) {
	text-align:center;
	display:block;
	color:#0F0;
	margin-top:7px;
}

#terminal-input {
	border: 1px solid #4CAF50;
	text-indent: 0.5em;
	margin-top: 10px;
	color: #DDD;
	border-radius: 2px;
	background-color: #122121;
	width: 85%;
	font-size: 15px;
    transition-duration: 0.2s;
}

#terminal-input:focus {
	border: 1px solid #19e120;
}

#terminal-input:disabled, #terminal-submit:disabled {
	border: 1px solid #122121;
}

#terminal-input::placeholder {
	color: #BBB;
}

#terminal-input:disabled::placeholder, #terminal-submit:disabled {
	color: #122121;
}

.terminal-command {
	color: #FFB300;
}

#terminal-submit {
	margin-top: 10px;
	margin-right: 2.5%;
	float: right;
    width: 10%;
    min-width: 5em;
    height: 2.4em;
    border: 1px solid #4CAF50;
    background-color: #122121;
    color: #DDD;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.2s;
}

#terminal-submit:hover {
    background-color: rgba(0,0,0,0.5);
}

#terminal-submit:active {
    transition-duration: 0s;
    background-color: #FB8C00;
    border-color: #FB8C00;
}

#terminal div {
	line-height: 1.2em;
	border: 1px solid #4CAF50;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	height: 50vh;
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#plymanage {
	display:none;
}

#plymanage table {
	width: 100%;
	color: #0F0;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	border-collapse: collapse;
}

#plymanage td {
	padding: 5px;
}

#plymanage tr {
	border-bottom: 1px solid green;
}

#plymanage tr:last-child {
	border-bottom: 0;
}

#plymanage th {
	width: 20%;
	font-size: 110%;
	padding: 10px 0 10px 0;
	border-bottom: 3px solid #0F0;
}

#plymanage table button {
	border: 0;
	background-color: #A00;
	color: #FFF;
	border-radius: 2px;
	padding: 7px 10px;
	cursor: pointer;
    transition-duration: 0.2s;
}

#plymanage table button:last-child {
	margin-left: 1em;
}

#plymanage table button:hover {
	background-color: #D00;
}

@keyframes fadingIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadingOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

.fading-in {
	animation-name: fadingIn;
	animation-duration: 0.2s;
}

.fading-out {
	animation-name: fadingOut;
	animation-duration: 0.2s;
}

#plymanage > div {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#plymanage > div div {
    background-color: #222;
    color: #FFF;
    margin: 2% auto;
    border-radius: 5px;
    width: 40%;
	text-align: center;
}

#plymanage > div div h1 {
	text-align: left;
	display: block;
	background-color: #27ae60;
	padding: 10px;
	border-radius: 5px 5px 0 0;
}

#plymanage > div div input[type="text"] {
	margin-bottom: 30px;
	margin-top: 30px;
	text-indent: .5em;
	background-color: #222;
	color: #DDD;
	border: 0;
	width: 80%;
	border-bottom: 1px solid #FFF;
}

#plymanage > div div input[type="number"] {
	text-indent: .5em;
	width: 5em;
	border: 0;
	background-color: #222;
	border-bottom: 1px solid #FFF;
	color: #DDD;
	margin: auto 1%;
}

@keyframes loopRedColor {
	from {border-bottom: 1px solid #FFF;}
	to {border-bottom: 1px solid red;}
}


#plymanage div div input[type="text"]:focus, #plymanage div div input[type="number"]:focus {
	animation-name: loopRedColor;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#plymanage input[type="button"] {
	margin-bottom: 30px;
	background-color: #888;
	color: #FFF;
	font-weight: bold;
	border: 0;
	width: 20%;
	border-radius: 3px;
	transition-duration: 0.3s;
	cursor: pointer;
}

#plymanage input[type="button"]:hover {
	background-color: #F00;
}

#plymanage div div h1 span {
	margin-top: -1.5%;
    color: #FFF;
    float: right;
    font-size: 90%;
    font-weight: bold;
    transition-duration: 0.2s;
}

#plymanage div div h1 span:hover {
    color: red;
    cursor: pointer;
}

#plymanage form button {
	margin-top: 20px;
	margin-bottom: 20px;
    width: 10%;
    min-width: 5em;
    height: 2.4em;
    border: 1px solid #4CAF50;
    background-color: #122121;
    color: #DDD;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.2s;
}

#plymanage form button:hover {
    background-color: rgba(0,0,0,0.5);
}

#plymanage form button:active {
    transition-duration: 0s;
    background-color: #FB8C00;
    border-color: #FB8C00;
}