* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #212121;
	cursor: default;
}

.loginform {
	width: 50%;
	padding-bottom: 20px;
	text-align: center;
	background-color: #03A9F4;
	color: #FDFDFD;
	border-radius: 10px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	margin-top: 50px;
	box-shadow: 0 0 10px 1px #03A9F4;
}

input {
	height: 30px;
	width: 40%;
	outline: none;
	margin-top: 30px;
}

.title {
	background-color: #039BE5;
	border-radius: 10px 10px 0 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.submit {
	color: #FDFDFD;
	background-color: #0D47A1;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: 0.4s;
	transition-property: box-shadow;
}

.submit:hover {
	box-shadow: inset 0 0 0 15px #1A237E;
}

input[type="text"], input[type="password"] {
	border: 0;
	background-color: transparent;
	border-bottom: solid 2px #FFF;
  	transition: border-bottom 0.3s;
  	color: #FFF;
}

input[type="text"] {
	margin-top: 5px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
	color: #000;
}

input[type="text"]:focus, input[type="password"]:focus {
	border-bottom: solid 2px #BBB;
}

.undertext {
	line-height: 2em;
}

.error {
    margin-top: 10px;
    margin-bottom: 0px;
}

.error span {
    border-radius: 5px;
    padding: 5px;
    background-color: #d32f2f;
    border: 1px solid #e57373;
    line-height: 1.9em;
}

.comeback {
	text-decoration: none;
	display: block;
	padding: 10px;
	background-color: #39c639;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 2px;
	color: #DDD;
	font-weight: bold;
	border-radius: 5px;
	transition-duration: 0.5s;
}

.comeback:hover {
	background-color: #26d926;
	color: #FFF;
}